SECRET_KEY=your_secret_key_here
JWT_TOKEN_EXPIRE_MINUTES=30
JWT_ENCRYPTION_ALGORITHM=HS256


DATABASE_NAME = "your_database_name_here"
DATABASE_USER = "your_database_user_here"
DATABASE_PASSWORD = "your_database_password_here"
DATABASE_HOST = "your_database_host_here" # is docker use "db" as host name
DATABASE_PORT = your_database_port_here

DOCKER_DB_PORT=your_docker_db_port_here
DOCKER_WEB_PORT=your_docker_web_port_here